In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [3]:
df_building_summaries = pd.read_csv('D:/image/data/building_summaries.csv')
df_building_consumption = pd.read_csv('D:/image/data/building_consumption.csv', parse_dates=['datetime'])
df_weather = pd.read_csv('D:/image/data/weather.csv', parse_dates=[0],index_col=[0])
df_template = pd.read_csv('D:/image/data/template.csv', parse_dates=['datetime'])

In [4]:
weather_summary = pd.DataFrame()

weather_summary = df_weather.resample('30Min').mean()

#df_weather.datetime.resample('30Min').mean()
#del upsampled["precipitation"]

#,header=0,index_col=0, squeeze=True

In [5]:
weather_summary.reset_index()

,datetime,precipitation,pressure,temperature,wind_direction,wind_speed
0,2017-01-01 00:00:00,NaN,30.19,46.0,230.0,10.0
1,2017-01-01 00:30:00,NaN,30.19,45.0,230.0,7.0
2,2017-01-01 01:00:00,NaN,30.16,45.0,230.0,6.0
3,2017-01-01 01:30:00,NaN,30.16,45.0,240.0,7.0
4,2017-01-01 02:00:00,NaN,30.13,45.0,240.0,10.0
5,2017-01-01 02:30:00,NaN,30.13,45.0,210.0,9.0
6,2017-01-01 03:00:00,NaN,30.10,45.0,220.0,9.0
7,2017-01-01 03:30:00,NaN,30.10,45.0,220.0,8.0
8,2017-01-01 04:00:00,NaN,30.07,45.0,220.0,8.0
9,2017-01-01 04:30:00,NaN,30.04,45.0,230.0,8.0
10,2017-01-01 05:00:00,NaN,30.04,45.0,220.0,9.0
11,2017-01-01 05:30:00,NaN,30.01,45.0,230.0,8.0
12,2017-01-01 06:00:00,NaN,30.01,45.0,240.0,8.0
13,2017-01-01 06:30:00,NaN,30.01,45.0,220.0,7.0
14,2017-01-01 07:00:00,NaN,30.01,45.0,230.0,8.0
15,2017-01-01 07:30:00,NaN,29.98,46.0,230.0,7.0
16,2017-01-01 08:00:00,NaN,29.98,46.0,220.0,7.0
17,2017-01-01 08:30:00,NaN,29.98,46.0,220.0,7.0
18,2017-01-01 09:00:00,NaN,29.98,46.0,210.0,6.0
19,2017-01-01 09:30:00,NaN,29.98,48.0,230.0,5.0
20,2017-01-01 10:00:00,NaN,29.96,48.0,240.0,7.0
21,2017-01-01 10:30:00,NaN,29.96,50.0,240.0,9.0
22,2017-01-01 11:00:00,NaN,29.96,50.0,240.0,9.0
23,2017-01-01 11:30:00,NaN,29.96,50.0,250.0,8.0
24,2017-01-01 12:00:00,NaN,29.96,50.0,240.0,10.0
25,2017-01-01 12:30:00,NaN,29.93,50.0,240.0,9.0
26,2017-01-01 13:00:00,NaN,29.93,50.0,240.0,9.0
27,2017-01-01 13:30:00,NaN,29.93,50.0,240.0,9.0
28,2017-01-01 14:00:00,NaN,29.93,48.0,270.0,8.0
29,2017-01-01 14:30:00,NaN,29.96,45.0,350.0,17.0
...,...,...,...,...,...,...
37890,2019-03-01 09:00:00,NaN,30.10,48.0,NaN,1.0
37891,2019-03-01 09:30:00,NaN,30.10,48.0,NaN,2.0
37892,2019-03-01 10:00:00,NaN,30.10,48.0,NaN,2.0
37893,2019-03-01 10:30:00,NaN,30.10,48.0,NaN,2.0
37894,2019-03-01 11:00:00,NaN,30.10,48.0,NaN,3.0
37895,2019-03-01 11:30:00,NaN,30.10,50.0,NaN,2.0
37896,2019-03-01 12:00:00,NaN,30.10,52.0,300.0,6.0
37897,2019-03-01 12:30:00,NaN,30.10,52.0,280.0,8.0
37898,2019-03-01 13:00:00,NaN,30.07,52.0,280.0,8.0
37899,2019-03-01 13:30:00,NaN,30.07,52.0,290.0,7.0
37900,2019-03-01 14:00:00,NaN,30.07,52.0,290.0,5.0
37901,2019-03-01 14:30:00,NaN,30.07,52.0,300.0,7.0
37902,2019-03-01 15:00:00,NaN,30.07,52.0,290.0,5.0
37903,2019-03-01 15:30:00,NaN,30.07,52.0,NaN,3.0
37904,2019-03-01 16:00:00,NaN,30.07,52.0,230.0,7.0
37905,2019-03-01 16:30:00,NaN,30.07,52.0,230.0,6.0
37906,2019-03-01 17:00:00,NaN,30.07,52.0,210.0,6.0
37907,2019-03-01 17:30:00,NaN,30.04,52.0,190.0,6.0
37908,2019-03-01 18:00:00,NaN,30.04,52.0,180.0,6.0
37909,2019-03-01 18:30:00,NaN,30.04,52.0,NaN,6.0
37910,2019-03-01 19:00:00,NaN,30.04,52.0,210.0,6.0
37911,2019-03-01 19:30:00,NaN,30.04,52.0,NaN,5.0
37912,2019-03-01 20:00:00,NaN,30.04,50.0,220.0,6.0
37913,2019-03-01 20:30:00,NaN,30.01,50.0,210.0,7.0
37914,2019-03-01 21:00:00,NaN,30.01,50.0,210.0,8.0
37915,2019-03-01 21:30:00,NaN,30.01,48.0,210.0,9.0
37916,2019-03-01 22:00:00,NaN,30.01,48.0,200.0,7.0
37917,2019-03-01 22:30:00,NaN,29.98,48.0,200.0,7.0
37918,2019-03-01 23:00:00,NaN,29.98,48.0,190.0,6.0
37919,2019-03-01 23:30:00,NaN,29.96,48.0,160.0,6.0

In [6]:
upsampled_one = weather_summary.loc[:"2019-01-13 23:30",]

In [7]:
upsampled_one.reset_index()

,datetime,precipitation,pressure,temperature,wind_direction,wind_speed
0,2017-01-01 00:00:00,NaN,30.19,46.0,230.0,10.0
1,2017-01-01 00:30:00,NaN,30.19,45.0,230.0,7.0
2,2017-01-01 01:00:00,NaN,30.16,45.0,230.0,6.0
3,2017-01-01 01:30:00,NaN,30.16,45.0,240.0,7.0
4,2017-01-01 02:00:00,NaN,30.13,45.0,240.0,10.0
5,2017-01-01 02:30:00,NaN,30.13,45.0,210.0,9.0
6,2017-01-01 03:00:00,NaN,30.10,45.0,220.0,9.0
7,2017-01-01 03:30:00,NaN,30.10,45.0,220.0,8.0
8,2017-01-01 04:00:00,NaN,30.07,45.0,220.0,8.0
9,2017-01-01 04:30:00,NaN,30.04,45.0,230.0,8.0
10,2017-01-01 05:00:00,NaN,30.04,45.0,220.0,9.0
11,2017-01-01 05:30:00,NaN,30.01,45.0,230.0,8.0
12,2017-01-01 06:00:00,NaN,30.01,45.0,240.0,8.0
13,2017-01-01 06:30:00,NaN,30.01,45.0,220.0,7.0
14,2017-01-01 07:00:00,NaN,30.01,45.0,230.0,8.0
15,2017-01-01 07:30:00,NaN,29.98,46.0,230.0,7.0
16,2017-01-01 08:00:00,NaN,29.98,46.0,220.0,7.0
17,2017-01-01 08:30:00,NaN,29.98,46.0,220.0,7.0
18,2017-01-01 09:00:00,NaN,29.98,46.0,210.0,6.0
19,2017-01-01 09:30:00,NaN,29.98,48.0,230.0,5.0
20,2017-01-01 10:00:00,NaN,29.96,48.0,240.0,7.0
21,2017-01-01 10:30:00,NaN,29.96,50.0,240.0,9.0
22,2017-01-01 11:00:00,NaN,29.96,50.0,240.0,9.0
23,2017-01-01 11:30:00,NaN,29.96,50.0,250.0,8.0
24,2017-01-01 12:00:00,NaN,29.96,50.0,240.0,10.0
25,2017-01-01 12:30:00,NaN,29.93,50.0,240.0,9.0
26,2017-01-01 13:00:00,NaN,29.93,50.0,240.0,9.0
27,2017-01-01 13:30:00,NaN,29.93,50.0,240.0,9.0
28,2017-01-01 14:00:00,NaN,29.93,48.0,270.0,8.0
29,2017-01-01 14:30:00,NaN,29.96,45.0,350.0,17.0
...,...,...,...,...,...,...
35634,2019-01-13 09:00:00,NaN,29.93,52.0,270.0,20.0
35635,2019-01-13 09:30:00,NaN,29.90,52.0,260.0,18.0
35636,2019-01-13 10:00:00,NaN,29.90,52.0,260.0,20.0
35637,2019-01-13 10:30:00,NaN,29.90,52.0,270.0,23.0
35638,2019-01-13 11:00:00,NaN,29.87,52.0,270.0,22.0
35639,2019-01-13 11:30:00,NaN,29.87,54.0,260.0,22.0
35640,2019-01-13 12:00:00,NaN,29.87,54.0,270.0,22.0
35641,2019-01-13 12:30:00,NaN,29.84,54.0,270.0,22.0
35642,2019-01-13 13:00:00,NaN,29.84,54.0,270.0,22.0
35643,2019-01-13 13:30:00,NaN,29.81,54.0,260.0,21.0
35644,2019-01-13 14:00:00,NaN,29.81,54.0,270.0,21.0
35645,2019-01-13 14:30:00,NaN,29.84,54.0,270.0,21.0
35646,2019-01-13 15:00:00,NaN,29.81,54.0,270.0,20.0
35647,2019-01-13 15:30:00,NaN,29.84,54.0,260.0,20.0
35648,2019-01-13 16:00:00,NaN,29.81,54.0,260.0,16.0
35649,2019-01-13 16:30:00,NaN,29.81,54.0,270.0,21.0
35650,2019-01-13 17:00:00,NaN,29.81,52.0,270.0,20.0
35651,2019-01-13 17:30:00,NaN,29.81,52.0,270.0,20.0
35652,2019-01-13 18:00:00,NaN,29.84,54.0,260.0,17.0
35653,2019-01-13 18:30:00,NaN,29.84,54.0,270.0,16.0
35654,2019-01-13 19:00:00,NaN,29.84,54.0,290.0,13.0
35655,2019-01-13 19:30:00,NaN,29.84,54.0,300.0,15.0
35656,2019-01-13 20:00:00,NaN,29.87,54.0,300.0,21.0
35657,2019-01-13 20:30:00,NaN,29.90,52.0,300.0,21.0
35658,2019-01-13 21:00:00,NaN,29.90,50.0,300.0,18.0
35659,2019-01-13 21:30:00,NaN,29.90,50.0,300.0,17.0
35660,2019-01-13 22:00:00,NaN,29.93,50.0,290.0,16.0
35661,2019-01-13 22:30:00,NaN,29.93,50.0,290.0,16.0
35662,2019-01-13 23:00:00,NaN,29.93,50.0,290.0,15.0
35663,2019-01-13 23:30:00,NaN,29.93,50.0,290.0,17.0

In [8]:

my_list = list(set(df_building_consumption["name"].tolist()))
my_list.sort()

In [11]:
#pd.concat([df_building_consumption[df_building_consumption.name == my_list[0]],upsampled_one], axis=0, join='inner')
for i in range(len(my_list)):
    merged_data_1 = df_building_consumption[df_building_consumption.name == my_list[0]].merge(upsampled_one,
                                                                                              left_on='datetime', right_on='datetime')
    merged_data_1.to_csv('D:/image/data/' + str(my_list[i]) + '.csv',index=True)

In [13]:
upsampled_two = weather_summary.loc["2019-01-14 00:00:00":"2019-01-28 23:30:00",]